<h1>投稿一覧</h1>

<% @books.each do |book| %>
  <p>タイトル</p>
  <span>
    <%= link_to "Show", book_path(book.id) %> | <%= link_to "Edit", edit_book_path(book.id) %> | <%= link_to "Destroy", book_path(book), method: :delete, data: { confirm: "Are you sure?" } %>
    </span>
<% end %>
